* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content{
    flex: 1;
    background-color: rgb(149, 150, 221);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4vh 0;
}

#pad{
    width: min(600px, 80vw);
    height: min(80vh, 1200px);
    padding: 16px;

    background-color: white;

    border-radius: 12px;
    border: 4px solid black;

    overflow: auto;
}

#pad > h1{
    font-size: 2rem;
}

#list-item-grid{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

.list-item{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 16px;

    align-items: start;

    padding: 8px 0;

}


.list-item + .list-item{
    border-top: 2px solid black;
}

.list-item-secondary-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}


/*Title, description, dueDate, priority*/

.list-item > .title{

}

.list-item > .description{

}

.list-item > .due-date{

}

.list-item > .priority{

}